<footer class="page-footer font-small bg-primary text-light">
  <div class="container-fluid text-center">
    <div class="row pt-2">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 0</a>
          </li>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 4</a>
          </li>
          <li>
            <a href="#!">Link 5</a>
          </li>
          <li>
            <a href="#!">Link 6</a>
          </li>
          <li>
            <a href="#!">Link 7</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 8</a>
          </li>
          <li>
            <a href="#!">Link 9</a>
          </li>
          <li>
            <a href="#!">Link 10</a>
          </li>
          <li>
            <a href="#!">Link 11</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 12</a>
          </li>
          <li>
            <a href="#!">Link 13</a>
          </li>
          <li>
            <a href="#!">Link 14</a>
          </li>
          <li>
            <a href="#!">Link 15</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href="https://icf.com"> ICF.com</a>
    </div>
  </div>
</footer>