/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

a {
    cursor: pointer;
}

.container-fluid {
    max-width: 1170px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}
